/* globals.css */
.fixed-container {
  position: fixed;
  top: 200px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content; /* Adjust width to fit the switch */
  height: 34px; /* Height of the switch */
  padding: 0px; /* Adjust padding if needed */
  animation: wave 2s infinite;
  z-index: 18;
  background-color: transparent;
  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.switch {
  font-size: 17px;
  display: inline-block;
  width: 64px;
  height: 34px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  position: relative; /* Ensure that the switch elements position correctly within the label */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 20px;
  left: 4px;
  bottom: 4px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s !important;
  transition:
    background-color 250ms,
    border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71) !important;
}


.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #111827;
}

.input + .slider {
  box-shadow: 0 0 15px rgba(53, 53, 53, 0.322);
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

.darkShadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7); /* Example shadow style */
}

.shadow-for-dark:hover {
  box-shadow: 0 2px 15px rgba(255, 255, 255, 0.12); /* Example shadow style */
}

.shadow-for-light:hover {
  box-shadow: 0 2px 10px rgba(39, 39, 39, 0.267); /* Example shadow style */
}

@media(max-width:678px) {
  .fixed-container {
    top: 120px;
  }
}